// Import external libraries.
@import "compass";
@import "breakpoint";
@import "singularitygs";
@import "toolkit-no-css";

// Import variables, abstractions, base styles and components using globbing.
//
// Globbing will always import files alphabetically. Optimally, all your
// components should be self-contained and explicit enough to not have any
// contained styles leak into unrelated components: The import order should not
// affect the result.
//
// If there are variables, functions or mixins that depend on each other and
// therefore need to be imported in a specific order you can import them
// directly. Variables-, function- or mixin providing partials should never
// output any styles themselves: Importing them multiple times to resolve
// dependencies shouldn't be a problem.
@import "variables/**/*";
@import "abstractions/**/*";
@import "base/**/*";
@import "components/**/*";
@import "layouts/**/*";
@import "menus/**/*"; 
@import "hover/**/*"; 

//Banner
.banner-mapu {
    text-align: center;
    margin-bottom: 1rem;
}
//Menu contenidos
.l-wm-nav {
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 15px;
    width: 70%;
    .menu-contenidos{
    margin: 2px;
    padding: 5px;
    text-decoration: none;
    color: #006BFF;
    border-left: 2px solid;
    }
    .last{
    	    border-right: 2px solid;
    	    color: #006BFF;
    }
}
//Central
.noticias-articulos {
    background: none repeat scroll 0 0 rgba(164, 149, 115, 0.9);
    border: 1px solid;
    font-size: 1rem;
    text-align: center;
    display: none;
}
//teaser
.teaser-cl{
    float: left;
    height: 14rem;
    margin-bottom: .5rem;
    margin-top: .5rem;
    position: relative;
    text-align: justify;
    border-bottom: 1px dashed;

.titulo-teaser {
    margin-bottom: 4px;
    padding: 4px;
    text-transform: uppercase;
    a{text-decoration: none;}
}	 
	.imagen-teaser {
    float: left;
    height: auto;
    width: 30%;
    padding-top: 18px;
}
.summary-teaser {
    float: right;
    width: 65%;
}
.views-more-link {
    float: right;
}
}
////COntenido
//articulos
.field.field--name-body {
    text-align: justify;
}



///
#block-views-columnas-de-opinion-block {
font-size: .6rem;
}
.l-wm-sidebar-media {
width: 100%;
float: left;
//Bloque opinion
.bloque-opinion{
    background: none repeat scroll 0 0 #F5F5F5;
    border-bottom: 2px dashed;
    margin-bottom: 2px;
    margin-top: 2px;
    padding: 2px;
    text-align: justify;
    width: 100%;
.date {
    float: left;
    margin-right: 12px;
}
.bloque-titulo-opinion {
text-align: justify;
font-size: .9rem;
        a{
text-decoration: none;
color:rgb(39, 36, 75);

&:hover &:active{
    .opinion-hide   {
        display:block;
                    }
    background-color: $naranjo;
                } 
        } 
                        } 

.bloque-cuerpo-opinion {
text-align: justify;
}
.opinion-hide {
display: none;
}
.bloque-autor-opinion {
    display: none;
}
}}

.menu-user {
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 15px;
    width: 70%;
    .menu-contenidos{
    margin: 2px;
    padding: 5px;
    text-decoration: none;
    color: #006BFF;
    border-left: 2px solid;
    }
    .last{
            border-right: 2px solid;
            color: #006BFF;
    }
}

.menu-navegacion {
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 15px;
    width: 70%;
    .menu-contenidos{
    margin: 2px;
    padding: 5px;
    text-decoration: none;
    color: #006BFF;
    border-left: 2px solid;
    }
    .last{
            border-right: 2px solid;
            color: #006BFF;
    }
}

.noticias-articulos {
    background: none repeat scroll 0 0 rgba(162, 91, 44, 0.8);
    border: 2px solid;
    font-size: 1rem;
    text-align: center;
}

.titulo-opinion {
    background: none repeat scroll 0 0 rgba(162, 91, 44, 0.8);
    border: 2px solid;
    font-size: 0.8rem;
    text-align: left;
    padding-bottom: 5px;
    padding-top: 5px;
    text-align: center;
    display: none;
}
.sharethis-wrapper{
    padding-bottom: 2px;
    padding-top: 2px;

.stButton{

.st-twitter-counter, .st-facebook-counter, .st-linkedin-counter,
.st-email-counter,.stMainServices,.st-pinterest-counter
{
    height: auto;
}

    height: auto;
}}

//barra lateral izquierda

.l-wm-sidebar-left {
    background: none repeat scroll 0 0 #F5F5F5;
    float: left;
    height: 1300px;
 }

 .item-bloque-actividades{
   border-bottom: 2px dashed;
    margin-bottom: 2px;
    margin-top: 2px;
.date-display-single {
    font-size: 0.6rem;
}
 .item-bloque-lugar-actividad {
    font-size: 0.6rem;
    a{text-decoration: none;}
}
.item-bloque-titulo-actividad {
    font-size: 0.8rem;
    a{text-decoration: none;}
}
    .item-bloque-cuerpo-actividad {
    font-size: 0.8rem;
    text-align: justify;
}

 }