// Import external libraries.
@import "compass";
@import "breakpoint";
@import "singularitygs";
@import "toolkit-no-css";

// Import variables, abstractions, base styles and components using globbing.
//
// Globbing will always import files alphabetically. Optimally, all your
// components should be self-contained and explicit enough to not have any
// contained styles leak into unrelated components: The import order should not
// affect the result.
//
// If there are variables, functions or mixins that depend on each other and
// therefore need to be imported in a specific order you can import them
// directly. Variables-, function- or mixin providing partials should never
// output any styles themselves: Importing them multiple times to resolve
// dependencies shouldn't be a problem.
@import "variables/**/*";
@import "abstractions/**/*";
@import "base/**/*";
@import "components/**/*";
@import "layouts/**/*";
@import "menus/**/*"; 
@import "hover/**/*"; 

//Banner
.banner-mapu {
    text-align: center;
    margin-bottom: 1rem;
}
//Menu contenidos
.l-wm-nav {
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 15px;
    width: 70%;
    .menu-contenidos{
    margin: 2px;
    padding: 5px;
    text-decoration: none;
    color: #006BFF;
    border-left: 2px solid;
    }
    .last{
    	    border-right: 2px solid;
    	    color: #006BFF;
    }
}
//teaser
.teaser-cl{
	 height: 12rem;
.titulo-teaser {
    margin-bottom: 4px;
    padding: 4px;
}	 
	.imagen-teaser {
    float: left;
    height: auto;
    width: 30%;
    padding-top: 18px;
}
.summary-teaser {
    float: right;
    width: 65%;
}
}

#block-views-columnas-de-opinion-block {
font-size: .8rem;
}
.l-wm-sidebar-media {
width: 50%;
float: left;
//Bloque opinion
.bloque-opinion {
width: 100%;
text-align: justify;
.bloque-titulo-opinion {
text-align: justify;
a{
text-decoration: none;
color:rgb(39, 36, 75);
}}
.bloque-cuerpo-opinion {
text-align: justify;
}
}}

.menu-user {
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 15px;
    width: 70%;
    .menu-contenidos{
    margin: 2px;
    padding: 5px;
    text-decoration: none;
    color: #006BFF;
    border-left: 2px solid;
    }
    .last{
            border-right: 2px solid;
            color: #006BFF;
    }
}

.menu-navegacion {
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 15px;
    width: 70%;
    .menu-contenidos{
    margin: 2px;
    padding: 5px;
    text-decoration: none;
    color: #006BFF;
    border-left: 2px solid;
    }
    .last{
            border-right: 2px solid;
            color: #006BFF;
    }
}