// Import external libraries.
@import "compass";
@import "breakpoint";
@import "singularitygs";
@import "toolkit-no-css";

// Import variables, abstractions, base styles and components using globbing.
//
// Globbing will always import files alphabetically. Optimally, all your
// components should be self-contained and explicit enough to not have any
// contained styles leak into unrelated components: The import order should not
// affect the result.
//
// If there are variables, functions or mixins that depend on each other and
// therefore need to be imported in a specific order you can import them
// directly. Variables-, function- or mixin providing partials should never
// output any styles themselves: Importing them multiple times to resolve
// dependencies shouldn't be a problem.
@import "variables/**/*";
@import "abstractions/**/*";
@import "base/**/*";
@import "components/**/*";
@import "layouts/**/*";
@import "menus/**/*"; 
@import "hover/**/*"; 

//Banner
.banner-mapu {
    text-align: center;
    margin-bottom: 1rem;
}
//Menu contenidos
.l-wm-nav {
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 15px;
    width: 70%;
    .menu-contenidos{
    margin: 2px;
    padding: 5px;
    text-decoration: none;
    color: #006BFF;
    border-left: 2px solid;
    }
    .last{
    	    border-right: 2px solid;
    	    color: #006BFF;
    }
}
//Central
.noticias-articulos {
    background: none repeat scroll 0 0 rgba(164, 149, 115, 0.9);
    border: 1px solid;
    font-size: 1rem;
    text-align: center;
}
//teaser
.teaser-cl{
    float: left;
    height: 14rem;
    margin-bottom: .5rem;
    margin-top: .5rem;
    position: relative;
    text-align: justify;
    background: none repeat scroll 0 0 rgba(194, 189, 162, 0.71);
    border-bottom: 1px solid;
    border-left: 1px solid;
    border-radius: 5px;
    border-right: 1px solid;

.date-teaser {
    background: none repeat scroll 0 0 rgba(120, 80, 60, 0.7);
    border-color: -moz-use-text-color;
    border-radius: 4px;
    border-style: solid;
    border-width: 1px 1px 3px;
}

.titulo-teaser {
    margin-bottom: 4px;
    padding: 4px;
}	 
	.imagen-teaser {
    float: left;
    height: auto;
    width: 30%;
    padding-top: 18px;
}
.summary-teaser {
    float: right;
    width: 65%;
}
.views-more-link {
    float: right;
}
}
////COntenido
//articulos
.field.field--name-body {
    text-align: justify;
}



///
#block-views-columnas-de-opinion-block {
font-size: .6rem;
}
.l-wm-sidebar-media {
width: 50%;
float: left;
//Bloque opinion
.bloque-opinion{
    background: none repeat scroll 0 0 rgba(149, 131, 84, 0.44);
    border-bottom: 2px solid;
    border-right: 2px solid;
    margin-bottom: 5px;
    margin-top: 5px;
    padding: 5px;
    text-align: justify;
    width: 100%;
.date {
    background: none repeat scroll 0 0 rgba(120, 80, 60, 0.7);
    float: left;
    margin-right: 10px;
}
.bloque-titulo-opinion {
text-align: justify;
        a{
text-decoration: none;
color:rgb(39, 36, 75);

&:hover &:active{
    .opinion-hide   {
        display:block;
                    }
    background-color: $naranjo;
                } 
        } 
                        } 

.bloque-cuerpo-opinion {
text-align: justify;
}
.opinion-hide {
display: none;
}
.bloque-autor-opinion {
    display: none;
}
}}

.menu-user {
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 15px;
    width: 70%;
    .menu-contenidos{
    margin: 2px;
    padding: 5px;
    text-decoration: none;
    color: #006BFF;
    border-left: 2px solid;
    }
    .last{
            border-right: 2px solid;
            color: #006BFF;
    }
}

.menu-navegacion {
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 15px;
    width: 70%;
    .menu-contenidos{
    margin: 2px;
    padding: 5px;
    text-decoration: none;
    color: #006BFF;
    border-left: 2px solid;
    }
    .last{
            border-right: 2px solid;
            color: #006BFF;
    }
}

.noticias-articulos {
    background: none repeat scroll 0 0 rgba(162, 91, 44, 0.8);
    border: 2px solid;
    font-size: 1rem;
    text-align: center;
}

.titulo-opinion {
    background: none repeat scroll 0 0 rgba(162, 91, 44, 0.8);
    border: 2px solid;
    font-size: 0.8rem;
    text-align: left;
    padding-bottom: 5px;
    padding-top: 5px;
    text-align: center;
}